<div class="container" id="heading">
    <span class="titles">Contact</span><br />
    <div class="borders"></div>
</div><br />

<div class="container" id="cards">
    <div class="row">
        <div class="col s12 m12" id="card">
            <div class="card">
                <div class="card-image">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.991338842222!2d-97.74611168487965!3d30.265827981802275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc945957a0f11486c!2sManuel&#39;s+Downtown+Mexican+Restaurant!5e0!3m2!1sen!2sus!4v1454348783790" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="card-content">
                    Manuel’s Downtown<br />
                    <br />
                    310 Congress Avenue<br />
                    Austin, Texas 78701<br />
                    Phone (512) 472.7555<br />
                </div>
                <div class="card-action">
                    <a href="https://www.google.com/maps/place/Manuel's+Downtown+Mexican+Restaurant/@30.265828,-97.7461117,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc945957a0f11486c">See Map</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col s12 m12" id="card">
            <div class="card">
                <div class="card-image">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.386775852442!2d-97.7514995848766!3d30.39676648175556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb52bab0d12f0a806!2sManuel&#39;s+Arboretum+Mexican+Restaurant!5e0!3m2!1sen!2sus!4v1454348786802" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="card-content">
                    Manuel’s Great Hills<br />
                    <br />
                    10201 Jollyville Road<br />
                    Austin, Texas 78759<br />
                    Phone (512) 345.1042<br />
                </div>
                <div class="card-action">
                    <a href="https://www.google.com/maps/place/Manuel's+Arboretum+Mexican+Restaurant/@30.3967665,-97.7514996,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xb52bab0d12f0a806">See Map</a>
                </div>
            </div>
        </div>
    </div>
</div>


