<div class="container" id="heading">
    <span>Manuel's</span><br />
    <span class="titles">Regional Mexican Cooking</span><br />
        <div class="borders"></div>
    </div><br />
    
    <div class="slider">
        <ul class="slides" style="font-family: 'Poiret One'">
            <li>
                <img src="https://images.unsplash.com/photo-1445979323117-80453f573b71?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=e4a8530c4df05f923997dcdcec05a6de">
                <div class="caption left-align">
                    <h3>Delicious Eats</h3>
                </div>
            </li>
            <li>
                <img src="https://images.unsplash.com/photo-1449793079811-bc4bcd990abf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6b5642130a384a8ca93eab860452dab5">
                <div class="caption right-align">
                    <h3>Traditional Recipes</h3>
                </div>
            </li>
            <li>
                <img src="https://images.unsplash.com/photo-1445451983996-ac6b92ffb1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5e801a2d6daef8b3ef23ed9a623a23df">
                <div class="caption center-align">
                    <h3>Local Ingredients</h3>
                </div>
            </li>
            <li>
                <img src="https://images.unsplash.com/photo-1422748733255-ee572fddeab0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=07d1aad6fef9f3f4cd541850b12ec85c">
                <div class="caption right-align">
                    <h3>Fine Wines</h3>
                </div>
            </li>
        </ul>
    </div>
    
<div class="container" id="heading">
    <span class="titles">Welcome to Manuel's</span><br />
      <div class="borders"></div>
    </div><br />
<div class="container" style="font-family: 'Josefin Sans'">
    For 30 years Manuel’s restaurant has delighted local residents, politicians, musicians, and students in Austin, Texas. From the farm to the sea, we prepare Mexican food infused with unique, savory flavors, and steeped in tradition. Our award-winning mole and famous margaritas transport you to a place of timeless satisfaction.<br /><br />

    Delicious food comes from centuries of passion, and the toil of one mother’s hand to another. Traditional Mexican cooking was recently recognized by <strong>UNESCO</strong> as an <strong>Intangible World Heritage Cuisine</strong>. As stewards of this type of cooking, we honor and share this legacy.<br /><br />

    Manuel’s food is prepared with love and care, using high quality, local, and seasonal ingredients. The beef, chicken, and pork we serve are all natural, and our seafood is wild-caught from certified sustainable waters. Our fresh fish is hand cut daily, never frozen. Salad dressings and fried foods are made with canola and virgin olive oils, and we feature many gluten-free, dairy free, and vegetarian options.

    Muchas Gracias for choosing Manuel’s!
</div>


</div>

