<div class="container" id="heading">
    <span class="titles">Menu</span><br />
    <div class="valign-wrapper"></div>
    <div class="borders"></div>
</div><br />

<!--Tabs-->

<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s2"><a href="#botanas">Botanas</a></li>
                <li class="tab col s2"><a href="#soup">Soup/Salad</a></li>
                <li class="tab col s2"><a href="#entrees"class="active">Entrees</a></li>
                <li class="tab col s2"><a href="#lunch">Lunch</a></li>
                <li class="tab col s2"><a href="#brunch">Sunday Brunch</a></li>
                <li class="tab col s2"><a href="#desserts">Desserts</a></li>
            </ul>
        </div>
        <!--Menus-->
        <div id="botanas" class="col s12">
            <br />
            APPETIZERS<br />
            <div class="divider"></div>
            <br />
            Campechana : Chilled seafood cocktail with poached fish, Gulf shrimp, tomato, onion, serrano chile, cilantro & sliced avocado 16 <br /><br />
            Nachos : Black beans, queso blanco & jalapeños 9 <br />
            w/ guacamole 11<br />
            w/ salsa fresca & sliced avocado 12<br />
            w/ grilled chicken breast 13<br />
            w/ fresh jumbo lump blue crab 23<br />
            <br />
            Guacamole : Hand-mashed avocado, cilantro, tomato, onion, serrano chile & lime.<br />
            small 7<br /> large 9<br />
            <br />
            Chile con Queso : Smooth & mellow queso blanco melted & spiked with tomatoes, onions & poblano chiles 9<br />
            w/ homemade venison chorizo 11<br />
            <br />
            Baja Taquitos de Callo de Hacha : Wild-caught bay scallops lightly battered and fried, served with shredded carrots and cabbage dressed with a chipotle crema 12<br />
            <br />
            Pollo En Mole Con Queso : Tender white chicken blanketed in mole & queso blanco 11<br />
            <br />
            Sopes : Grilled masa boats with black bean paste, shredded chicken, pork, beef, chile de arbol, queso Fresco, lettuce & sour cream 10<br />
            <br />
            Manuel’s Classic Lime Cured Ceviche : Fresh Yellow Fin tuna cured in fresh lime juice an garnished with salsa fresca 16<br />
            <br />
            Juan’s Ceviche : Yellow Fin tuna lightly tossed with fresh lime, orange juice, olive oil, onion, tomatoes, cilantro & chile serrano 16<br />
            <br />
            Hongos Guisados : Fresh mushrooms sautéed with onion, tomato, poblano peppers & topped with broiled queso blanco 9<br />
            <br />
            Quesadillas : Grilled tortillas filled with queso blanco, poblano peppers, onion & sour cream 9<br />
            w/ mushrooms 10<br />
            w/ chargrilled chicken or beef 11<br />
            <br />
            Tortas de Papa y Masa : Golden grilled potato & corn masa cakes w/ sautéed corn, garlic, cilantro & salsa tomatillo 9<br />
            w/ black beans, homemade venison chorizo & roasted onion chile pasilla coulis 10<br />
            <br /><br />
            + Consuming raw or undercooked meats, seafood, shellfish, or eggs may increase your risk of foodborne illness, especially if you have certain medical conditions.
        </div>
        <div id="soup" class="col s12">
            <br />
            SOUPS<br />
            <div class="divider"></div>
            <br />
            Sopa de Elote : Rich & flavorful corn soup with queso blanco 6<br />
            <br />
            Sopa de Tortilla : The traditional chicken & tomato caldo with tortilla strips, avocado & queso Cotija 7<br />
            <br />
            Sopa de Tres Chiles : Manuel’s signature spicy chicken & chile caldo with tortilla strips, avocado, queso Cotija & sour cream 7<br />
            <br />
            Crema de Chile Poblano : Roasted chile poblano bisque garnished with queso Asadero & tortilla strips 7<br />
            <br /><br />
            SALADS
            <div class="divider"></div>
            <br />
            Ensalada de Nopales con Camarón : Grilled baby cactus paddles tossed with tomatoes, cilantro, onions & bay shrimp, garnished with diced avocado & queso Asadero 11<br />
            <br />
            Ensalada de Espinacas : Baby spinach, tomato, red onion, avocado & queso Asadero, garnished with toasted sesame seeds & cilantro lime vinaigrette<br />
            Small 6<br /> Large 9<br />
            Large w/ grilled chicken breast 15<br />
            Large w/ grilled fish or shrimp 24<br />
            Large w/ grilled Yellow Fin tuna 27<br />
            Large w/ grilled beef tenderloin 28<br />
            <br />
            Ensalada del Jardín : Crisp leaf lettuce, tomato, jicama, carrot, red cabbage, avocado, queso blanco & a creamy vinaigrette<br />
            Small 6<br /> Large 9<br />
            Large w/ grilled chicken breast 15<br />
            Large w/ grilled fish or shrimp 24<br />
            Large w/ grilled Yellow Fin tuna 27<br />
            Large w/ grilled beef tenderloin 28<br />
            <br />
            Tortillas : Four hand-made fresh tortillas. Choice of flour or corn 2<br />
            <br />
            Chips and Salsa : The first one is on us, the next one is 2
        </div>
        <div id="entrees" class="col s12">
            <br />
            PORK, BEEF, & CHICKEN <br />
            <div class="divider"></div>
            Served with Mexican rice, guacamole & black beans<br />
            <br />
            Pechuga de Pollo : Butterflied & broiled natural chicken breast. Choose from achiote, mole or salsa Veracruzana 19<br />
            <br />
            Lomo de Puerco : Natural Pork Tenderloin grilled and served with your choice of pineapple guajillo salsa or avocado sesame pumpkin seed salsa 24<br />
            <br />
            Lomo de Res : Certified natural Black Angus beef tenderloin grilled and served with your choice of poblano goat cheese garlic butter or roasted onion chile pasilla salsa 32<br />
            <br /><br />
            SEAFOOD SPECIALTIES<br />
            <div class="divider"></div>
            <br />
            Pescado a la Parrilla : Wild caught fresh Yellow Fin tuna or Black Drum fillet char-broiled and served with a small dinner salad, rice & your choice of mango mint butter, chipotle cream lime or salsa Veracruzana.<br /> Black Drum fillet 24<br /> Yellow Fin tuna 27<br />
            <br />
            Pescado con Espinacas : Wild caught fresh Yellow Fin tuna or Black Drum fillet charbroiled and placed over baby spinach sautéed with a touch of olive oil, garlic, onions, tomato, serrano, cilantro & yellow lemon.<br /> Black Drum fillet 24<br /> Yellow Fin tuna 27<br />
            <br />
            Pescado a la Mexicana : Wild caught fresh Black Drum fillet lightly battered & fried, served with salsa fresca, Mexican rice, guacamole & poblano chile crema 24<br />
            <br />
            Camarones a la Plancha : Colossal Gulf shrimp sautéed in olive oil with garlic & cilantro. Served on Mexican rice, garnished with orange, tomato & lime 28<br />
            <br />
            Camarones a la Veracruzana : Colossal Gulf shrimp sautéed with fresh tomatoes, green olives, onions, garlic, capers & olive oil on a bed of rice 28<br />
            <br />
            Camarones Empanizados : Colossal Gulf shrimp lightly battered & fried. Served with salsa fresca, Mexican rice, guacamole & poblano chile crema 28<br />
            <br /><br />
            RELLENOS<br /> 
            <div class="divider"></div>
            Served with rice & black beans<br />
            <br />
            Chile Relleno de Elote : Roasted poblano pepper stuffed with sautéed corn, garlic & cilantro, topped with broiled queso blanco 16<br />
            <br />
            Chile Relleno en Nogada : Roasted poblano pepper filled with a shredded pork, almond, and raisin picadillo, baked & topped with our walnut cream brandy sauce 20<br />
            <br />
            Chile Relleno del Mar : Roasted poblano pepper stuffed with bay scallops, shrimp & fresh blue lump crab in a chile de arbol crema, topped with broiled queso Gouda 26<br />
            <br /><br />
            FLAUTAS<br /> 
            <div class="divider"></div>
            Grilled enchiladas with salsa ranchera, salsa chipotle or salsa verde & sour cream. Served with rice & guacamole.<br />
            Black bean & queso blanco 13<br />
            Natural chicken 15<br />
            Gulf shrimp 19<br />
            <br /><br />
            FAJITAS<br /> 
            <div class="divider"></div>
            Marinated & chargrilled to perfection. Served with grilled peppers & onions, guacamole, queso blanco, salsa fresca, black beans & sour cream.<br />
            <br />
            Natural Black Angus : for one 18 for two 34<br />
            Natural Chicken Breast : for one 17 for two 32<br />
            Portabella mushrooms : for one 16 for two 30<br />
            Shrimp : for one 22 for two 42<br />
            <br /><br />
            PARRILLADA<br />
            <div class="divider"></div>
            served Sunday thru Thursday Evenings<br />
            <br />
            A family-style mixed grill with citrus-marinated natural beef tenderloin, chicken breast, skewered shrimp, nopal cactus paddles chargrilled, served with black beans, rice, salsa de aguacate & salsa chile de arbol.<br /> for two 45 each additional person 22<br />
            <br /><br />
            ENCHILADAS<br />
            <div class="divider"></div>
            Served with rice & black beans. Choose from pork, chicken, or beef with your choice of a handcrafted salsa:<br />
            <br />
            Verde : Homemade green tomatillo salsa 16<br />
            Ranchera : Tomato, onion, garlic & serrano chile salsa 16<br />
            Rojas Adobadas : Rich & smoky chile ancho salsa 17<br />
            Suizas : Broiled savory Mexican crema 17<br />
            Bandera : A colorful sampling of salsas verde, suiza & adobada 17<br />
            Manuel’s Famous Mole : A festive blend of over 21 ingredients including Mexican chiles, nuts, chocolate, herbs & spices 18<br />
            <br />
            Enchiladas de Espinacas : Sauteed spinach, onions and serrano peppers. Your choice of salsa verde or ranchera 14<br />
            <br />
            Enchiladas de Jaiba o Camarones : Sauteed wild caught blue crab or Gulf shrimp. Choice of salsa verde, Chipotle cream lime, or suiza.<br /> Jumbo Lump Crab 28<br /> Texas Gulf Shrimp 22<br />
            <br />
            Enchiladas de Hongos : Local Texas mushrooms sauteed with poblano peppers, red bell pepper, onion & fresh garlic. Choice of salsa verde or ranchera 14<br />
            <br /><br />
            TACOS & TOSTADAS<br /> 
            <div class="divider"></div>
            Served with rice & black beans. Choose from pork, chicken, beef, mushroom, or guacamole.<br />
            <br />
            Tacos : Served with shredded lettuce, queso blanco, tomato & roasted onion 13<br />
            <br />
            Tostada Norteña : A crisp flour tortilla topped with black beans, queso blanco, lettuce, sour cream & tomato 14<br />
            <br />
            Tostadas Capitalinas : Two crispy corn tortillas topped with black beans, lettuce, tomato & queso Cotija 14<br />
            <br />
            Tacos de Pescado o Camarones : Two soft flour tortillas enwrapping a grilled fresh gulf fillet or shrimp;<br />
            Grilled served with lettuce, queso blanco & salsas fresca.<br />
            Fried served with shredded carrots & cabbage tossed with a Chipotle cream dressing. <br />
            Black Drum filet 15<br />
            Gulf Shrimp 16<br />
        </div>
        <div id="lunch" class="col s12">
            <br />
            LUNCH SPECIALTIES<br />
            <div class="divider"></div>
            <br />
            Lomo de Res :
            Grilled beef tenderloin with a roasted poblano goat cheese garlic butter; served with guacamole 16<br />
            <br />
            Enchiladas Verdes de Espinacas : 
            Enchiladas filled with sauteed spinach, onions and serrano peppers; served with salsa verde 12<br />
            <br />
            Calabacita Rellena : 
            Grilled zucchini stuffed with pork and queso blanco; served with guacamole 12<br />
            <br />
            Pechuga de Pollo : 
            Grilled chicken breast topped with chile con queso or salsa verde; served with guacamole 13<br />
            <br />
            Alambres : 
            Skewered and grilled Gulf shrimp with pineapple and fresh vegetables; served with guacamole 15<br />
            <br />
            Tacos de Pescado o Camarones : 
            Two soft flour tortillas enwrapping a grilled fresh gulf filet or shrimp;
            Grilled served with lettuce, queso blanco and salsa fresca;
            Battered & Fried served with shredded carrots & cabbage tossed with a Chipotle cream dressing.<br />
            Fish 14<br />
            Shrimp 15<br />
            <br />
            Ensalada con Pollo Achiote : 
            Large garden salad topped with a grilled achiote chicken breast; served over rice and black beans 12<br />
            <br />
            Fajita Tacos :
            Two flour tortillas enwrapping marinated and grilled chicken or beef; served with Monterrey Jack cheese, guacamole, salsa fresca & rajas 12<br />
            <br /><br />
            *All items served with rice and black beans
        </div>
        <div id="brunch" class="col s12">
            <br />
            BRUNCH FARE<br />
            <div class="divider"></div>
            <br />
            Mexican Mimosa : Fresh squeezed orange juice, sparkling wine, & a splash of Bauchant 5<br />
            <br />
            Bloody Maria: Chile Serrano infused tequila mixed with Zing Zang 5<br />
            <br />
            Mango Daiquiri : Cruzan Aged Estate Light Rum, mango & fresh lime 8<br />
            <br />
            Tropical Fruit Plate : small 4.5 large 8<br />
            <br />
            Torta de Papa : Golden grilled potato & corn masa cakew/sautéed corn, garlic, cilantro & salsa tomatillo 3<br />
            w/ black beans, homemade venison chorizo & roasted onion chile pasilla 3.5<br />
            <br />
            Breakfast Egg Taco : Potato, venison chorizo, ham or salsa fresca 3.5<br />
            <br />
            Breakfast Quesadilla : Potato, ham or mushroom 5<br />
            <br />
            Sope Con Huevo Estrellado : Grilled masa boat filled with black bean paste, chile de arbol, an egg over easy & queso fresco 6<br />
            <br />
            <br />
            <span>MANUEL'S SPECIALTY EGG DISHES</span><br />
            <div class="divider"></div>
            garnished with cheese & served with black beans, fresh fruit & flour tortillas.<br />
            <br />
            Migas : Three eggs scrambled with cheese, salsa fresca & tortilla strips 10<br />
            <br />
            Huevos Rancheros : Two eggs over easy served between two tortillas & topped with salsa ranchera 10<br />
            <br />
            Huevos Revueltos : Three eggs scrambled with Mexican potatoes or venison chorizo 11<br />
            <br />
            Huevos Motuleños : Two fried eggs served between corn tortillas & black beans, topped with salsa ranchera, ham & peas 12<br />
            <br />
            Omeletta : Fluffy three egg omelet with your choice of filling:<br />
            Mushroom 12<br />
            Cheese & chiles 10<br />
            Ham & spinach 12<br />
            Fresh jumbo lump blue crab 22<br />
            <br />
            Flautas De Papa : Grilled potato enchiladas served over salsa ranchera or salsa verde, topped with sour cream. Served with rice & guacamole 12<br />
            <br />
            Lomo De Puerco : Grilled pork tenderloin served with Mexican potatoes or black beans, fresh fruit & a farm fresh egg 15<br />
            <br />
            Lomo De Res : Grilled beef tenderloin served with Mexican potatoes or black beans, fresh fruit & a farm fresh egg 17<br />
        </div>
        <div id="desserts" class="col s12">
            <br />
            SIGNATURE DESSERTS<br />
            <div class="divider"></div>
            <br />
            Manuel’s Signature Flan : Coconut custard served with caramel sauce and fresh berries 8<br />
            <br />
            Ice Cream Parfait : Vanilla Bean ice cream layered with homemade chocolate sauce, strawberry or mango puree 8<br />
            <br />
            Budín de Chocolate : Chocolate bread pudding made with Dutch Callebaut chocolate, challah bread, ground almonds, walnuts and pecans, served with homemade vanilla ice cream and chocolate sauce 9<br />
            <br />
            Postre de Coco : Tiered buttermilk white cake with a cream cheese frosting, toasted coconut & our homemade pecan caramel sauce 9<br />
            <br />
            Chocolate Martini : Godiva Chocolate liqueur, Godiva Chocolate vodka 10<br />
            <br />
            Mexican Coffee : Stirrings coffee liqueur, Vanilla and Cinnamon infused tequila 10<br />
            <br />
            Changos : Bacardi gold, creme de bananas & light cream 8<br />
            <br />
            Kahlua & Ice Cream : 10<br />
            <br />
            Locally Roasted by Anderson’s : Manuel’s French Blend Coffee 3<br />
            <br />
            Collection of Zhi Teas : organic, loose leaf 3<br />
        </div>
    </div>
</div>